<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta content="Supplier Relationship Management (SRM) Web Application for the Golden Dome Market"
          name="description">
    <meta content="O. Kalu" name="author">
    <link href="favicon.ico" rel="icon">
    <!--    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-LV/SIoc08vbV9CCeAwiz7RJZMI5YntsH8rGov0Y2nysmepqMWVvJqds6y0RaxIXT" crossorigin="anonymous">-->
    <!--    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-2kOE+STGAkgemIkUbGtoZ8dJLqfvJ/xzRnimSkQN7viOfwRvWseF7lqcuNXmjwrL" crossorigin="anonymous">-->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/united/bootstrap.min.css"
          integrity="sha384-bzjLLgZOhgXbSvSc5A9LWWo/mSIYf7U7nFbmYIB2Lgmuiw3vKGJuu+abKoaTx4W6" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main-styles.css}" type="text/css">
    <title>The Car Rental Program - Users</title>
</head>
<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="container" style="margin-top: 2em;">
        <form id="userForm" method="post" action="/admin/nusers/edit" th:object="${user}">
            <fieldset>
                <legend>New User Form</legend>
                <div class="container" style="margin-top: 1em;">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="hidden" name="userId" th:value="${user.userId}" />
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <small><span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                             class="alert alert-danger"></span></small>
                                <input id="firstName" name="firstName" type="text" class="form-control" th:value="${user.firstName}" required autofocus="autofocus">
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <small><span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                             class="alert alert-danger"></span></small>
                                <input id="lastName" name="lastName" type="text" class="form-control" th:value="${user.lastName}" required>
                            </div>
                            <div class="form-group">
                                <label for="dateOfBirth">Date of Birth</label>
                                <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"
                                      class="alert alert-danger"></span>
                                <input id="dateOfBirth" name="dateOfBirth" type="date" class="form-control" th:value="${user.dateOfBirth}" required="required">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                      class="alert alert-danger"></span>
                                <input id="email" name="email" type="email" class="form-control" th:value="${user.email}">
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber">Phone Number</label>
                                <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                                      class="alert alert-danger"></span>
                                <input id="phoneNumber" name="phoneNumber" type="text" class="form-control" th:value="${user.phoneNumber}" required="required">
                            </div>
                        </div>
                        <div class="col-md-6">
                        	<div class="form-group">
                                <label for="username">Username</label>
                                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                      class="alert alert-danger"></span>
                                <input id="username" name="username" type="text" class="form-control" th:value="${user.username}">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                      class="alert alert-danger"></span>
                                <input id="password" name="password" type="password" class="form-control" th:value="${user.password}">
                            </div>
                             <select name="roles" id="roles" class="form-control" required="required" text="Roles">
                                    <option value="ADMIN">ADMIN</option>
                                    <option th:if="${user.roles == null}" th:each="role : ${roles}" th:value="ADMIN" th:text="ADMIN"></option>
                                    <option th:if="${user.roles != null}" th:each="role : ${roles}" th:value="${role.roleId}" th:text="${role.roleName}" th:selected="${role.roleId == user.roles.roleId}"></option>
                                </select>
                            <div style="float:right;">
                                <button id="btnReset" type="reset" class="btn btn-outline-info" style="margin-right: 2em;">Reset</button>
                                <a href="/admin/nusers" class="btn btn-outline-warning" style="margin-right: 2em;">Cancel</a>
                                <button id="btnSubmit" type="submit" class="btn btn-outline-primary">Edit User</button>
                            </div>
                       </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

    <!-- ================================================== -->
    <!-- Bootstrap core JavaScript source files -->
    <!-- Placed at the end of the document -->
    <script crossorigin="anonymous"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>