<!DOCTYPE html>
<html>

<head>
<meta charset="ISO-8859-1">
<title>Employee</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="/">Employee Page :::</a>
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Employees</a></li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text"
						placeholder="Search">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>

	</header>
	<div class="container">
		<h1 style="text-aligh: center;">Welcome to Employee Page</h1>
		<a href="/logout-success">logout</a>
	</div>
</body>
</html>