<footer th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
			<!-- class="nav-item active" -->
				<li  class="text-muted"
					style="color: #fff; padding-left: 2em; padding-right: 1em;">
					Powered By MIU-CarRent  <span style="float:right;" class="text-muted">&copy; March 2020</span></li>
					
			
			</ul>

		</div>
	</nav>
</footer>