.booking-page{
  .mat-stepper-horizontal {
    margin-top: 8px;
  }

  .mat-form-field {
    margin-top: 16px;
  }
  .booking-form-container{
    padding: 50px 20px 0 20px;
    .booking-btn{
      padding-left: 20px;
    }
  }
}

